.list {
  display: flex;
  list-style: none;
}

.link {
  padding: 0px 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2c465a;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link:hover {
  color: #fea100;
}

.active {
  color: #fea100;
}
